{{ define "main" }}
<article class="text-container mt-10">
    <div class="prose xl:prose-lg">
        <h1>
            {{ .Title }}
        </h1>
        {{ with .Params.subtitle }}
        <div class="-mt-8 text-darkSanguine font-medium text-lg xl:text-xl ">
            {{ safeHTML . }}
        </div>
        {{ end }}
        <div class="text-gray-500 tracking-wide">
            <time class="uppercase">
                {{ .Date.Format "January 2, 2006" }}
            </time>
            <span class="">
                &middot;
            </span>
            <span>
                {{ .ReadingTime }} min
            </span>
        </div>
        {{ .Content }}
    </div>
</article>
{{ end }}