{{ define "main" }}
<article class="max-w-container mt-10">
    <div class="prose xl:prose-lg">
        <h1>
            {{ .Title }}
        </h1>
        <div class="text-gray-500 tracking-wide -mt-8">
            <time class="uppercase">
                {{ .Date.Format "January 2, 2006" }}
            </time>
            <span class="">
                &middot;
            </span>
            <span>
                {{ .ReadingTime }} min
            </span>
        </div>
        {{ with .Params.subtitle }}
        <div class="border-darkSanguine border-l-4 pl-4 py-1 mt-4 lg:mt-6 font-medium italic text-xl xl:text-2xl ">
            {{ safeHTML . }}
        </div>
        {{ end }}
        {{ if .Params.toc }}
        <aside>
            <h2>Table of contents</h2>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        {{ .Content }}
    </div>
</article>
{{ end }}