{{- define "main" }}

<div class="max-w-container mt-10">
    <div class="max-w-prose">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-extrabold">
            {{ .Title }}
        </h1>
        <p class="mt-3 lg:mt-4">
            {{ .Content }}
        </p>
        <div class="mt-16">
            {{- range .Pages.GroupByPublishDate "2006"}}
                {{ if $.Params.showYear }}
                <div class="text-4xl md:text-5xl lg:text-6xl text-darkSanguine font-bold">{{ .Key }}</div>
                {{ end }}
                <div class="flex flex-col mt-8">
                    {{ range .Pages }}
                    <a href="{{ .RelPermalink }}" class="block group max-w-max mb-10">
                        <h3 class="font-semibold text-xl lg:text-2xl inline thick-underline-80 hover-highlight">
                            {{ .Title }}
                        </h3>
                        {{ with .Params.subtitle }}
                        <div class="font-semibold opacity-80 text-gray-600">
                            {{ safeHTML . }}
                        </div>
                        {{ end }}
                        {{ with .Description }}
                        <p class="bg-lightBeige mt-3">
                            {{ safeHTML . }}
                            <svg class="inline text-highlight group-hover:animate-bounce-h"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </p>
                        {{ end }}
                    </a>
                    {{ end }}
                </div>
            {{- end }}
        </div>
    </div>
</div>

{{- end }}