{{- define "main" }}
<!-- Has to be kept at the same base text-size as the blog post template, which uses typography plugin-->
<div class="text-container py-10">
    <div class="prose lg:prose-lg xl:prose-xl">
        <h1 class="font-display">{{ .Title }}</h1>
        <p class="">
            {{ .Content }}
        </p>
    </div>
</div>
<div class="bg-darkBeige">
    <div class="text-lightBeige">
        {{ partial "wave-bottom.html" . }}
    </div>
    <div class="text-container mt-16">
        {{- range .Pages.GroupByPublishDate "2006"}}
        <div class="max-w-prose lg:text-lg xl:text-xl ">
            <div class="font-spacegrotesk text-6xl text-darkSanguine font-bold">{{ .Key }}</div>
            <div class="flex flex-col pt-4">
                {{ range .Pages }}
                <a href="{{ .RelPermalink }}"
                    class="block max-w-max mb-10 rounded-xl overflow-hidden hover:shadow-lg transition duration-300">
                    <div class="bg-darkGreenBlue text-lightBeige smol-padding py-4">
                        <h3 class="-ml-0.5 font-display font-semibold text-3xl lg:text-4xl">
                            {{ .Title }}
                        </h3>
                        <div class="text-sm text-darkBeige">
                            <time class="uppercase">
                                {{ .Date.Format "January 2, 2006" }}
                            </time>
                            <span class="">
                                &middot;
                            </span>
                            <span>
                                {{ .ReadingTime }} min
                            </span>
                        </div>
                    </div>
                    {{ with .Description }}
                    <p class="bg-lightBeige py-2 smol-padding">
                        {{ safeHTML . }}
                    </p>
                    {{ end }}
                </a>
                {{ end }}
            </div>
        </div>
        {{- end }}
    </div>
</div>

{{ .Scratch.Set "bgColor" "bg-darkBeige" }}

{{- end }}