{{- define "main" }}
<!-- Has to be kept at the same base text-size as the blog post template, which uses typography plugin-->
<div class="text-container py-10">
    <div class="prose xl:prose-lg">
        <h1 class="font-playfair">{{ .Title }}</h1>
        <p class="">
            {{ .Content }}
        </p>
    </div>
</div>
<div class="bg-darkBeige">
    <div class="text-lightBeige">
        {{ partial "wave-bottom.html" . }}
    </div>
    <div class="text-container mt-16">
        {{- range .Pages}}
        <div class="max-w-prose xl:text-lg ">
            <div class="flex flex-col pt-4">
                <a href="{{ .RelPermalink }}"
                    class="block max-w-max mb-10 rounded-xl overflow-hidden hover:shadow-lg transition duration-300">
                    <div class="bg-darkGreenBlue text-lightBeige smol-padding py-4">
                        <h3 class="-ml-0.5 font-playfair font-semibold text-3xl lg:text-4xl">
                            {{ .Title }}
                        </h3>
                    </div>
                    {{ with .Description }}
                    <p class="bg-lightBeige py-2 smol-padding">
                        {{ safeHTML . }}
                    </p>
                    {{ end }}
                </a>
            </div>
        </div>
        {{- end }}
    </div>
</div>

{{ .Scratch.Set "bgColor" "bg-darkBeige" }}

{{- end }}