@layer base {

    /* Space Grotesk (sans serif, nearly mono) */
    /* @font-face {
        font-family: 'SpaceGrotesk';
        font-style: normal;
        font-display: swap;
        src: url('/fonts/SpaceGrotesk/woff2/SpaceGrotesk[wght].woff2') format("woff2")
             url('/fonts/SpaceGrotesk/otf/SpaceGrotesk[wght].ttf') format("truetype");
    } */
    @font-face {
        font-family: 'SpaceGrotesk';
        font-weight: 300;
        /* font-display: swap; */
        src: url('/fonts/SpaceGrotesk/woff2/static/SpaceGrotesk-Light.woff2') format("woff2");
    }
    @font-face {
        font-family: 'SpaceGrotesk';
        font-weight: 400;
        /* font-display: swap; */
        src: url('/fonts/SpaceGrotesk/woff2/static/SpaceGrotesk-Regular.woff2') format("woff2");
    }
    @font-face {
        font-family: 'SpaceGrotesk';
        font-weight: 500;
        /* font-display: swap; */
        src: url('/fonts/SpaceGrotesk/woff2/static/SpaceGrotesk-Medium.woff2') format("woff2");
    }
    @font-face {
        font-family: 'SpaceGrotesk';
        font-weight: 600;
        /* font-display: swap; */
        src: url('/fonts/SpaceGrotesk/woff2/static/SpaceGrotesk-Bold.woff2') format("woff2");
    }

    /* Fira Sans */
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 300;
        font-style: normal;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-Light.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 300;
        font-style: italic;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-LightItalic.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-LightItalic.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 400;
        font-style: normal;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 400;
        font-style: italic;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-Italic.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-Italic.woff') format('woff');

    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 500;
        font-style: normal;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-Medium.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 500;
        font-style: italic;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-MediumItalic.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-MediumItalic.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 600;
        font-style: normal;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-SemiBold.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-SemiBold.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 600;
        font-style: italic;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-SemiBoldItalic.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-SemiBoldItalic.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 700;
        font-style: normal;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 700;
        font-style: italic;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-BoldItalic.woff2') format('woff2'),
            url('/fonts/FiraSans/FiraSans-BoldItalic.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 800;
        font-style: normal;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-ExtraBold.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-ExtraBold.woff') format('woff');
    }
    @font-face {
        font-family: 'Fira Sans';
        font-weight: 800;
        font-style: italic;
        /* font-display: swap; */
        src: url('/fonts/FiraSans/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
             url('/fonts/FiraSans/FiraSans-ExtraBoldItalic.woff') format('woff');
    }
}