@layer components {
    .body-link {
        @apply font-medium thick-underline-80 hover-highlight;
    }
}

@layer utilities {
    .text-container {
        @apply container mx-auto px-4 sm:px-8 md:px-10 lg:px-14 xl:px-20;
    }

    .smol-padding {
        @apply px-4 sm:px-6 lg:px-8;
    }

    .wave {
        @apply w-full h-12 sm:h-16 md:h-20 lg:h-28 xl:h-36;
    }
    
    /* Should be applied alongside thick-underline-70/80 */
    .hover-highlight {
        transition-property: background-size;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 200ms;
    }
    .hover-highlight:hover, .group:hover .hover-highlight{
        background-size: 100% 80%;
    }

    @variants hover, group-hover {
        .thick-underline-70 {
            background-image: linear-gradient(0deg, #ffbe59 0 100%);
            background-size: 100% 30%;
            background-position: 0.2em bottom;
            background-repeat: no-repeat;
        }
        .thick-underline-80 {
            background-image: linear-gradient(0deg, #ffbe59 0 100%);
            background-size: 100% 20%;
            background-position: 0.2em bottom;
            background-repeat: no-repeat;
        }
        .animate-bounce-h {
            animation: bounce-h 1s infinite;
        }
    }

    @keyframes bounce-h {
        0%, 100% {
            transform: translateX();
            animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateX(25%);
            animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    /* Doesn't work in base layer for some reason ? */
    .prose a {
        @apply no-underline body-link;
    }

    /* CSS below mostly used for sidenotes */
    .ast-before::before {
        color: theme('colors.darkSanguine');
        content: '\002a';
    }
    .ast-after::after {
        color: theme('colors.darkSanguine');
        display: inline-block;
        content: '\002a';
    }
    /* No idea how to achieve that in Tailwind CSS */
    @media screen and (max-width: 1023px) {
        .sn_check:checked ~ .sn_content {
            position: relative;
            left: auto;
            display: block;
            margin: 0.8rem 0;
            padding: 0 1rem;
            /* Counteracts Tailwind's sr-only utilities */
            width: auto;
            height: auto;
            overflow: visible;
            clip: auto;
            white-space: normal;
        }
    }
}