@layer base {
    /* header {
        background-color: #f7f474;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23002f3c' fill-opacity='0.17'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
    } */
}

@layer utilities {
    .text-container {
        @apply container mx-auto px-4 sm:px-6 lg:px-8;
    }

    .smol-padding {
        @apply px-4 sm:px-6 lg:px-8;
    }

    .wave {
        @apply w-full h-12 sm:h-16 md:h-20 lg:h-28 xl:h-36;
    }

    /* Doesn't work in base layer for some reason ? */
    .prose a {
        @apply no-underline thick-underline-highlight hover:highlight-highlight;
    }
    .prose {
        @apply text-darkGreenBlue;
    }

    @variants {
        .underline-dotted {
            text-decoration-style: dotted;
        }

        .thick-decoration {
            text-decoration-thickness: 0.2em;
        }
    }

    /* CSS below mostly used for sidenotes */
    .ast-before::before {
        color: theme('colors.darkSanguine');
        content: '\002a';
    }

    .ast-after::after {
        color: theme('colors.darkSanguine');
        display: inline-block;
        content: '\002a';
    }
    /* No idea how to achieve that in Tailwind CSS */
    @media screen and (max-width: 1023px) {
        .sn_check:checked ~ .sn_content {
            position: relative;
            left: auto;
            display: block;
            margin: 0.8rem 0;
            padding: 0 1rem;
            /* Counteracts Tailwind's sr-only utilities */
            width: auto;
            height: auto;
            overflow: visible;
            clip: auto;
            white-space: normal;
        }
    }
}