<!-- Will read from the most recent sidenote-content -->
{{ $id := index (seq 999 | shuffle) 1 }}
<span>
  <input aria-label="Show sidenote" type="checkbox" id='sn_check-{{ $id }}'
         class="sn_check hidden">
  <label tabindex="0" title='{{- with (.Page.Scratch.Get "sidenote") -}}{{ truncate 35 . }}{{- end -}}'
    aria-describedby='sidenote-{{ $id }}' for='sn_check-{{ $id }}'
    class="text-darkSanguine border-darkSanguine border-b-2 border-dotted -mb-2 cursor-pointer ast-after
           lg:cursor-default lg:border-none lg:text-current">
    {{- .Inner -}}
  </label>
  <small id='sidenote-{{ $id }}'
         class="sn_content ast-before sr-only flex
                lg:not-sr-only lg:relative lg:float-right lg:clear-right lg:left-0
                lg:w-64 lg:-mr-80
                xl:w-64 xl:-mr-72
                2xl:-mr-80">
    <span class="sr-only">
      (sidenote:
    </span>
    <span class="lg:ml-1.5 leading-normal">
      {{- with (.Page.Scratch.Get "sidenote") -}}{{- . -}}{{- end -}}
    </span>
    <span class="sr-only">
      )
    </span>
  </small>
</span>