<span class="sidenote">
  {{- $key := print "sidenote-" (string (.Get "id")) -}}
  <input
    aria-label="Show sidenote"
    type="checkbox"
    id='sidenote__checkbox--{{ .Get "id" }}'
    class="sidenote__checkbox">
  <label
    tabindex="0"
    title="{{- with (.Page.Scratch.Get $key) -}}{{ truncate 35 . }}{{- end -}}"
    aria-describedby='sidenote-{{ .Get "id"}}'
    for='sidenote__checkbox--{{ .Get "id" }}'
    class="sidenote__button">
    {{- .Inner -}}
    {{- with (.Get "ticker") -}}
    <style>.sidenote__button::after{ content: '{{ . }}'; vertical-align: super; font-size: smaller }</style>
    {{- else -}}
    <style>.sidenote__button::after{ content: '\002a' }</style>
    {{- end -}}
  </label>
  <small
    id='sidenote-{{ .Get "id" }}'
    class="sidenote__content relative block float-right left-96 w-48">
    {{- with (.Get "ticker") -}}
    <style>.sidenote__content::before{ content: '{{ . }}'; vertical-align: super; font-size: smaller }</style>
    {{- else -}}
    <style>.sidenote__content::before{ content: '\002a' }</style>
    {{- end -}}
    <span class="sidenote__content-parenthesis
    "> (sidenote: </span>
    {{- with (.Page.Scratch.Get $key) -}}{{- . -}}{{- end -}}
    <span class="sidenote__content-parenthesis">)</span>
  </small>
</span>
