<!-- Will read from the most recent sidenote-content -->
{{ $id := index (seq 999 | shuffle) 1 }}
<span>
  <input aria-label="Show sidenote" type="checkbox" id='sn_check-{{ $id }}'
         class="sn_check hidden">
  <label tabindex="0" title='{{- with (.Page.Scratch.Get "sidenote") -}}{{ truncate 35 . }}{{- end -}}'
    aria-describedby='sidenote-{{ $id }}' for='sn_check-{{ $id }}'
    class="text-darkSanguine border-darkSanguine border-b-2 border-dotted -mb-2 cursor-pointer ast-after
           xl:cursor-default xl:border-none xl:text-current">
    {{- .Inner -}}
  </label>
  <small id='sidenote-{{ $id }}'
         class="sn_content ast-before sr-only flex
                xl:not-sr-only xl:relative xl:float-right xl:clear-right xl:left-0
                xl:w-80 xl:-mr-104">
    <span class="sr-only">
      (sidenote:
    </span>
    <span class="xl:ml-1.5 leading-normal">
      {{- with (.Page.Scratch.Get "sidenote") -}}{{- . -}}{{- end -}}
    </span>
    <span class="sr-only">
      )
    </span>
  </small>
</span>